/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.shadow-cljs
.idea
/resources/public/cljs-runtime
/resources/public/main.js
node_modules/


