{:source-paths ["src" "test"]

 :dependencies [[org.clojure/core.async "0.4.500"]
                [reagent "0.9.0"]]

 :dev-http     {3449 "resources/public/"}

 :builds       {:app  {:output-dir "resources/public/"
                       :asset-path "."
                       :target     :browser
                       :modules    {:main {:init-fn editoreable.main/init!}}
                       :devtools   {:after-load editoreable.main/reload!}}
                :test {:target    :browser-test
                       :output-to "out/node-tests.js"
                       :runner-ns editoreable.test-all
                       :devtools  {:http-port          8021
                                   :http-root          "resources/public/test"}
                       ;:ns-regexp "editoreable"
                       ;:modules      {:main {:init-fn test.all/test-core}}
                       }}}